services:
  traefik:
    image: traefik:v3.6
    container_name: traefik
    command:
      #- "--log.level=DEBUG"
      - "--api.insecure=true"
      - "--providers.docker=true"
      - "--providers.docker.exposedbydefault=false"
      - "--entrypoints.web.address=:80"
      - "--entrypoints.websecure.address=:443"
      - "--certificatesresolvers.myresolver.acme.tlschallenge=true"
      #- "--certificatesresolvers.myresolver.acme.caserver=https://acme-staging-v02.api.letsencrypt.org/directory"
      - "--certificatesresolvers.myresolver.acme.email=postmaster@${DECIDIM_HOST:-localhost}"
      - "--certificatesresolvers.myresolver.acme.storage=/letsencrypt/acme.json"
      # - --entrypoints.web.http.redirections.entryPoint.to=websecure
      # - --entrypoints.web.http.redirections.entryPoint.scheme=https
    restart: ${RESTART_POLICY:-unless-stopped}
    ports:
      - "80:80"
      - "443:443"
      - "8080:8080"
    volumes:
      - "./letsencrypt:/letsencrypt"
      - "/var/run/docker.sock:/var/run/docker.sock:ro"
  decidim:
    image: ghcr.io/gasparbucuane/decidim:${GIT_REF:-main}
    container_name: decidim-${DECIDIM_ENV:-production}
    pull_policy: ${PULL_POLICY:-always}
    volumes:
      - ./storage:/app/storage
    restart: ${RESTART_POLICY:-unless-stopped}
    env_file:
      - .env.default
      - .env
    environment:
      - RUN_RAILS=true
      - RUN_SIDEKIQ=false
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.whoami.rule=Host(`${DECIDIM_HOST:-localhost}`)"
      - "traefik.http.routers.whoami.entrypoints=web,websecure"
      - "traefik.http.routers.whoami.tls.certresolver=myresolver"
    depends_on:
      - db
      - redis
  sidekiq:
    image: ghcr.io/gasparbucuane/decidim:${GIT_REF:-main}
    container_name: decidim-sidekiq-${DECIDIM_ENV:-production}
    pull_policy: ${PULL_POLICY:-always}
    volumes:
      - ./storage:/app/storage
    restart: ${RESTART_POLICY:-unless-stopped}
    env_file:
      - .env.default
      - .env
    environment:
      - RUN_RAILS=false
      - RUN_SIDEKIQ=true
    depends_on:
      - db
      - redis
  db:
    image: postgres:16
    env_file:
      - .env.default
      - .env
    volumes:
      - pg_data:/var/lib/postgresql/data
  redis:
    image: redis
    volumes:
      - redis_data:/data
volumes:
  pg_data:
  redis_data:
  decidim_uploads:
  decidim_storage:
