services:
  traefik:
    image: traefik:v3.6
    container_name: traefik
    command:
      # Try to enable this if something isn't working. 
      # Chances are, Traefik will tell you why.
      # Be careful in production as it exposes the traffic you might not want to expose.
      # - --log.level=DEBUG
      - --api.dashboard=true
      - --providers.docker=true
      - --providers.docker.exposedbydefault=false
      - --entrypoints.web.address=:80
      - --entrypoints.web.http.redirections.entrypoint.to=websecure
      - --entryPoints.web.http.redirections.entrypoint.scheme=https
      - --entrypoints.websecure.address=:443
      - --entrypoints.websecure.asDefault=true
      - --entrypoints.dashboard.address=:4430
      # LetsEncrypt Staging Server - uncomment when testing
      # - --certificatesResolvers.letsencrypt.acme.caServer=https://acme-staging-v02.api.letsencrypt.org/directory
      - --certificatesresolvers.le.acme.email=postmaster@${DECIDIM_HOST:-localhost}
      - --certificatesresolvers.le.acme.storage=/letsencrypt/acme.json
      - --certificatesresolvers.le.acme.httpchallenge=true
      - --certificatesresolvers.le.acme.httpchallenge.entrypoint=web
    restart: ${RESTART_POLICY:-unless-stopped}
    ports:
      - 80:80
      - 443:443
      - 4430:4430 # traefik dashboard
    env_file:
      - .env
    volumes:
      - ./letsencrypt:/letsencrypt
      - /var/run/docker.sock:/var/run/docker.sock:ro
    labels:
      - traefik.enable=true
      # Dashboard configuration
      - traefik.http.routers.dashboard.rule=Host(`${DECIDIM_HOST:-localhost}`)
      - traefik.http.routers.dashboard.entrypoints=dashboard
      - traefik.http.routers.dashboard.service=api@internal
      - traefik.http.routers.dashboard.tls=true
      - traefik.http.routers.dashboard.tls.certresolver=le
      - traefik.http.routers.dashboard.middlewares=dashboard-auth
      # Basic auth middleware
      - traefik.http.middlewares.dashboard-auth.basicauth.users=admin:${DASHBOARD_AUTH_PASSWORD:-admin}
    networks:
      - web
      - backend
  db_backup:
    image: tiredofit/db-backup
    container_name: db_backup
    volumes:
      - ./backups:/backup
    env_file:
      - .env
    environment:
      - TIMEZONE=${TIMEZONE:-Europe/Vienna}
      - CONTAINER_ENABLE_MONITORING=${CONTAINER_ENABLE_MONITORING:-FALSE}
      - USER_DBBACKUP=${USER_DBBACKUP:-1000}
      - GROUP_DBBACKUP=${GROUP_DBBACKUP:-1000}
      - BACKUP_JOB_CONCURRENCY=${BACKUP_JOB_CONCURRENCY:-1}     # Only run one job at a time
      - DEFAULT_CHECKSUM=${DEFAULT_CHECKSUM:-NONE}        # Don't create checksums
      - DEFAULT_COMPRESSION=${DEFAULT_COMPRESSION:-Bzip2}     # Compress all with ZSTD
      - DEFAULT_BACKUP_INTERVAL=${DEFAULT_BACKUP_INTERVAL:-1440}   # Backup every 1440 minutes
      - DEFAULT_BACKUP_BEGIN=${DEFAULT_BACKUP_BEGIN:-0100}      # Start backing up at midnight
      - DEFAULT_CLEANUP_TIME=${DEFAULT_CLEANUP_TIME:-10080}    # Cleanup backups after a week
      - DB01_TYPE=pgsql
      - DB01_HOST=db
      - DB01_USER=${POSTGRES_USER}
      - DB01_PASS=${POSTGRES_PASSWORD}
      - DB01_NAME=${POSTGRES_DB}
    networks:
      - backend

  db:
    image: postgres:16
    env_file:
      - .env.default
      - .env
    volumes:
      - pg_data:/var/lib/postgresql/data
    networks:
      - backend
  redis:
    image: redis
    volumes:
      - redis_data:/data
    networks:
      - backend

networks:
  web:
    external: true
  backend:
    external: true

volumes:
  pg_data:
  redis_data:
