services:
  traefik:
    image: traefik:v3.6
    container_name: traefik
    command:
      # Try to enable this if something isn't working. 
      # Chances are, Traefik will tell you why.
      # Be careful in production as it exposes the traffic you might not want to expose.
      #- --log.level=DEBUG
      - --api.insecure=true
      - --providers.docker=true
      - --providers.docker.exposedbydefault=false
      - --entrypoints.web.address=:80
      - --entrypoints.websecure.address=:443
      # LetsEncrypt Staging Server - uncomment when testing
      # - --certificatesResolvers.letsencrypt.acme.caServer=https://acme-staging-v02.api.letsencrypt.org/directory
      - --certificatesresolvers.le.acme.email=postmaster@${DECIDIM_HOST:-localhost}
      - --certificatesresolvers.le.acme.storage=/letsencrypt/acme.json
      - --certificatesresolvers.le.acme.httpchallenge=true
      - --certificatesresolvers.le.acme.httpchallenge.entrypoint=web
    restart: ${RESTART_POLICY:-unless-stopped}
    ports:
      - 80:80
      - 443:443
      - 8080:8080
    env_file:
      - .env
    volumes:
      - ./letsencrypt:/letsencrypt
      - /var/run/docker.sock:/var/run/docker.sock:ro
    labels:
      - traefik.enable=true
      # # global redirect to https
      # - traefik.http.routers.http-catchall.rule=hostregexp(`{host:.+}`)
      # - traefik.http.routers.http-catchall.entrypoints=web
      # - traefik.http.routers.http-catchall.middlewares=redirect-to-https
      # # middleware redirect
      # - traefik.http.middlewares.redirect-to-https.redirectscheme.scheme=https
  decidim:
    image: ghcr.io/gasparbucuane/decidim:${GIT_REF:-main}
    container_name: decidim-${DECIDIM_ENV:-production}
    pull_policy: ${PULL_POLICY:-always}
    volumes:
      - ./storage:/app/storage
    restart: ${RESTART_POLICY:-unless-stopped}
    env_file:
      - .env.default
      - .env
    environment:
      - RUN_RAILS=true
      - RUN_SIDEKIQ=false
    labels:
      - traefik.enable=true
      - traefik.http.routers.decidim.rule=Host(`${DECIDIM_HOST}`)
      - traefik.http.routers.decidim.entrypoints=web,websecure
      - traefik.http.routers.decidim.tls=true
      - traefik.http.routers.decidim.tls.certresolver=le
      - traefik.http.services.decidim.loadbalancer.server.port=3000
    depends_on:
      - db
      - redis
  sidekiq:
    image: ghcr.io/gasparbucuane/decidim:${GIT_REF:-main}
    container_name: decidim-sidekiq-${DECIDIM_ENV:-production}
    pull_policy: ${PULL_POLICY:-always}
    volumes:
      - ./storage:/app/storage
    restart: ${RESTART_POLICY:-unless-stopped}
    env_file:
      - .env.default
      - .env
    environment:
      - RUN_RAILS=false
      - RUN_SIDEKIQ=true
    depends_on:
      - db
      - redis
  db:
    image: postgres:16
    env_file:
      - .env.default
      - .env
    volumes:
      - pg_data:/var/lib/postgresql/data
  redis:
    image: redis
    volumes:
      - redis_data:/data
volumes:
  pg_data:
  redis_data:
