<div class="hero">
  <div class="hero__overlay"></div>

  <div class="hero__content">
    <h1 class="hero__title">Decidim Moçambique</h1>
    
    <p class="hero__subtitle">
      <span class="hero__subtitle-main">Uma plataforma</span>
      <span id="rotated-words" class="hero__subtitle-highlight">participativa</span>
    </p>
    
    <a href="/processes" class="hero__button">Participar Agora</a>
  </div>
</div>